@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

header {
    background-color: v.$black;
    color: v.$white;
    border-bottom: 1px solid v.$white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 2;
    height: 60px;

    #btnMenu {
        border-right: 1px solid v.$lightgreen;
        cursor: pointer;
        padding: 10px 8px;

        span {
            background-color: v.$white;
            width: 25px;
            padding: 1px;
            margin: 6px;
            border-radius: 5px;

            display: flex;
        }

        @include m.respond-to(tablet) {
            display: none;
        }
    }

    nav {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 50px;
        padding: 0;

        @include m.respond-to(tablet) {
            display: flex;
            position: relative;
            align-items: center;
            top: 0;
        }

        a {
            color: black;
            text-decoration: none;
            background-color: v.$white;
            border-bottom: 1px solid gray;
            padding: 20px;
            font-size: 2em;

            @include m.respond-to(tablet) {
                color: v.$white;
                background-color: black;
                border-bottom: none;
                border-right: 1px solid v.$white;
                padding: 10px 15px;
                font-size: 1.3em;
            }

            @include m.respond-to(large) {
                font-size: 1.6em;
                padding: 12px 18px;
            }
        }
            a:hover {
                font-size: 2em;
                background-color: v.$green;
                transition: .2s;

                @include m.respond-to(tablet) {
                    font-size: 1.3em;
                    background-color: black;
                    text-decoration: underline;
                    transition: none;
                }
                
                @include m.respond-to(large) {
                    font-size: 1.6em;
                }
            }
    }

    h2 {
        margin-right: 20px;
        font-family: var(--font);
        font-size: 1.8em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        right: 0;

        padding: 20px;
        
        a {
            text-decoration: none;
            color: v.$white;
        }
    }
}

nav.active {
    display: flex;
    flex-flow: column nowrap;
    left: 0;
    right: 0;
    transition: 5s;
}