@use "../abstracts/variables" as v;

/*================== LAYOUT ===================*/
.marquee {
  overflow: hidden;
  background-color: v.$beige;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/*================== TEXT ======================*/
.marquee__track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
  padding: 10px 0;
}

.marquee__scrollingTxt {
  white-space: nowrap;
  padding-right: 50px;
  margin: 0;
}