@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/*================== LAYOUT ===================*/
.nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);

    @include m.respond-to(tablet) {
        position: relative;
        align-items: center;
        flex-direction: row;
        top: 0;
        left: auto;
        right: auto;
        height: 100%;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: none;
    }
}

/*================== LINKS =====================*/
.nav__link {
    color: v.$black;
    text-decoration: none;
    background-color: v.$white;
    border-bottom: 1px solid v.$gray;
    border-top: 1px solid v.$gray;
    font-size: 1.8em;

    @include m.respond-to(tablet) {
        color: v.$white;
        background-color: v.$black;
        border-bottom: none;
        border-right: 1px solid v.$white;
        font-size: 1.4em;
        height: 100%;
    }

    @include m.respond-to(large) {
        font-size: 1.6em;
    }

    &:hover {
        background-color: v.$green;
        transition: .2s;
        scale: 1 1.1;

        @include m.respond-to(tablet) {
            background-color: v.$black;
            text-decoration: underline;
            scale: 1;
            transition: none;
        }
    }
}
        
.nav.active {
    transition: .4s;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}