@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/*================== LAYOUT ===================*/
.nav {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    padding: 0;

    @include m.respond-to(tablet) {
        display: flex;
        position: relative;
        align-items: center;
        top: 0;
    }
}

/*================== LINKS =====================*/
.nav__link {
    color: black;
    text-decoration: none;
    background-color: v.$white;
    border-bottom: 1px solid gray;
    padding: 20px;
    font-size: 2em;

    @include m.respond-to(tablet) {
        color: v.$white;
        background-color: black;
        border-bottom: none;
        border-right: 1px solid v.$white;
        padding: 10px 15px;
        font-size: 1.3em;
    }

    @include m.respond-to(large) {
        font-size: 1.6em;
        padding: 12px 18px;
    }

    &:hover {
        font-size: 2em;
        background-color: v.$green;
        transition: .2s;

        @include m.respond-to(tablet) {
            font-size: 1.3em;
            background-color: black;
            text-decoration: underline;
            transition: none;
        }
        
        @include m.respond-to(large) {
            font-size: 1.6em;
        }
    }
}
        

.nav.active {
    display: flex;
    flex-flow: column nowrap;
    left: 0;
    right: 0;
    transition: 5s;
}