$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
    large: 1440px
);

@mixin respond-to($device) {
    $size: map-get($breakpoints, $device);

    @if $size {
        @media (min-width: $size) { @content; }
    } @else {
        @error "Breakpoint '#{$device}' não existe."
    }
}
