@use "style";

#marquee {
    height: 30px;
    display: flex;
    align-items: center;

    background-color: style.$beige;

    p {
        object-fit: cover;
        text-wrap: nowrap;
        text-align: center;
        width: 100vw;
        display: none;
    }
}