//fonts
$font: 'Franklin Gothic Medium', sans-serif; 

//Pallet
$green: #B9D9B8;
$darkgreen: #688C6A;
$lightgreen: #D5F2E5;
$white: #F2F2F0;
$beige: #D9B991;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

